<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.node_coyote.bakerscorner">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".recipes.RecipeActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".recipes.RecipeProvider"
            android:authorities="com.node_coyote.bakerscorner.recipes"
            android:enabled="true"
            android:exported="false" />
        <provider
            android:name=".ingredients.IngredientProvider"
            android:authorities="com.node_coyote.bakerscorner.ingredients"
            android:enabled="true"
            android:exported="false" />
        <provider
            android:name=".steps.StepProvider"
            android:authorities="com.node_coyote.bakerscorner.steps"
            android:enabled="true"
            android:exported="false" />

        <activity android:name=".recipes.RecipeDetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".recipes.RecipeActivity" />
        </activity>

        <receiver android:name=".IngredientWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/recipe_widget_info" />
        </receiver>
    </application>

</manifest>